:root{
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body{
    background-color: $black
}

$padding-block: 60px;
$border:  4px solid $turquoise;

@mixin padding{
    padding-block: $padding-block;
    padding-inline: 20px;

    @media(min-width: 800px){
        padding-inline: 65px;
    }
}

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin display-mobile{
    display: block;

    @media(min-width: 800px){
        display: none;
    }
}
