:root{
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body{
    background-color: $black
}

@mixin padding{
    padding-block: 60px;
    padding-inline: 20px;

    @media(min-width: 800px){
        padding-inline: 65px;
    }
}


@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display-mobile{
    display: block;

    @media(min-width: 800px){
        display: none;
    }
}
