.about{
    @include padding-block-section;
    background-color: $turquoise;
    padding-inline: 20px;

    @media(min-width: 800px){
        padding-inline: 65px;
    }
}

.about__first{
    
    width: 100%;
    border: 4px solid $black;

    flex-direction: column;

    @media(min-width: 800px){
        @include flex-center;

        flex-direction: row;
        align-items: flex-start;
    }
}

.about__first-left, .about__first-right{
    height: 100%;
    text-align: center;
}

.about__first-left{
    color: $black;
    flex-basis: 65%; 
}

.about__first-right{
    flex-basis: 35%;
    // border-left: 4px solid $black;
    display: block;
}

.about__img{
}

.about__text{

}

.about__title{
    
}