.gallery{
    min-height: 100vh;
    height: 1px;
}

.gallery__container{
    @include padding;
    @include flex-center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery__item{
    width: 350px;
    height: 350px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.gallery__link{
    display: block;
    position: absolute;
    inset: 0
    // cursor: pointer;
}

