.gallery{
    min-height: 100vh;
    height: 1px;
}

.gallery__title{
    text-align: center;
    font-family: $font-logotype;
    color: $turquoise;
    padding-top: $padding-block;
    font-size: $h-size;
}

.gallery__container{
    @include padding;
    
    

    display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;

    @media (min-width: 1300px){
        justify-content: space-between;
    }
}

.gallery__item{
    width: 350px;
    height: 350px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.gallery__link{
    display: block;
    position: absolute;
    inset: 0
    // cursor: pointer;
}

.footer{
    min-height: 30vh;
    background-color: $turquoise;
    justify-content: space-around;

    @include flex;
    @include padding;
}

