.gallery{
    min-height: 100vh;
    height: 1px;
}

.gallery__container{
    @include padding;
    
    

    display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;

    @media (min-width: 1300px){
        justify-content: space-between;
    }
}

.gallery__item{
    width: 350px;
    height: 350px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.gallery__link{
    display: block;
    position: absolute;
    inset: 0
    // cursor: pointer;
}

