.hero{
    padding-block: 120px;
}

.hero__container{
    width: 95%;
    margin: 0 auto;
    border: none;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        inset: 0;
        // -webkit-box-shadow: inset 1px 1px 20px 5px $black;
        // -moz-box-shadow: inset 1px 1px 20px 5px $black;
        box-shadow: inset 1px 1px 20px 30px $black;
    }

    @media (min-width: 800px){
        width: 80%;
    }
}

.hero__img{
    width: 95%;
    opacity: 1;
}