.test{
    width: 70%;
    font-size: 2rem;
    margin: 0 auto;
    padding-block: 200px;
}

.test2{
    padding: 50px;
    background-color: $white;
}

.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: $black;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;

    @media(min-width: 800px){
        width: 80%;
    }
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    li{
        list-style: none;
    
        a{
            text-decoration: none;
            color: $white;
        }
    }
}

.sticky{
    background-color: $turquoise;
}