
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: $black;
    padding-top: 20px;
    transition: 0.5s;
    font-family: $font-main;
}

.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;

    @media(min-width: 800px){
        padding-inline: 80px;
    }
}

.nav__list{
    list-style: none;
    display: none;
    align-items: center;
    justify-content: center;
    width: 35%;

    li{
        list-style: none;
        padding-inline: 15px;
    }

    @media(min-width: 800px){
        display: flex;
    }
}

.sticky{
    padding: 0;
    background-color: $turquoise;
}

.x-icon, .hamburger-icon{
    color: $white;
    font-size: 2rem;
    padding: 15px;

    &:hover{
        cursor: pointer;
    }
}

.nav__list--mobile{
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
    background-color: $turquoise;
    position: fixed;
    top: 100px;
    left: 0px;
    transition: 0.5s;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 5;

    li{
        padding-inline: 20px;

        a {
            text-decoration: none;
            color: $white;
            font-family: $font-main;
        }
    }

    @media (min-width: 550px) {
        width: 65%;
    }
}